.media-grid {
    border: none;
    .media-item {
        .media-heading {
            font-size: 22px;
            color: @mainGreen;
        }
    }
}
.total-publishers {
    font-size: 25px;
    margin: 15px 0;
}
.media-view {
    &:hover {
        border-color: @darkGreen;
    }
}
